body {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.version {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: black;
}

.container {
  display: flex;
  width: 70%;
  height: 80vh;
}
.container_menu {
  width: 20%;
  padding-left: 5%;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
.container_menu_title {
  margin-top: 30%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1A2D54;
  text-transform: uppercase;
}
.container_menu_list {
  margin-top: 50px;
}
.container_menu_list_item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.container_menu_list_item_icon {
  width: 20px;
  height: 20px;
  fill: none;
  margin-right: 20px;
}
.container_menu_list_item_link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #758095;
}
.container_menu_list_item .link_active {
  transition-duration: 0.8s;
  color: #758095;
  text-decoration: underline #758095;
}
.container_menu_list_item .link_active::before {
  transition-duration: 0.8s;
  content: "";
  position: absolute;
  left: 0%;
  width: 5px;
  height: 20px;
  background-color: #1A2D54;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.container_menu_list_item .link_active:hover {
  color: #1A2D54;
  text-decoration: underline #1A2D54;
}
.container_menu_list_item .link_active:hover::before {
  transition-duration: 0.8s;
  width: 25px;
}
.container_events {
  width: 50%;
  background-color: #FFF;
}
.container_events_upperBlock {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_events_upperBlock_title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1A2D54;
}
.container_events_upperBlock_btns {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_events_upperBlock_btns_btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
}
.container_events_upperBlock_btns_btn_icon {
  width: 20px;
  height: 20px;
  fill: none;
}
.container_events_notes {
  width: 100%;
}
.container_events_notes_time {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container_events_notes_time_text {
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #758095;
}
.container_events_notes_time hr {
  opacity: 0.7;
  width: 90%;
  height: 1px;
  background-color: #758095;
}
.container_events_note {
  position: relative;
  width: 80%;
  margin: 10px auto;
  padding: 4%;
}
.container_events_note_time {
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #758095;
}
.container_events_note_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #1A2D54;
}
.container_events_note::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #8576ED;
}
.container_events_main {
  height: 70%;
}
.container_events .note_purple {
  background: rgba(133, 118, 237, 0.15);
}
.container_events .note_purple::before {
  background: #8576ED;
}
.container_events .note_blue {
  background: rgba(61, 131, 249, 0.15);
}
.container_events .note_blue::before {
  background: #3D83F9;
}
.container_events .note_orange {
  background: rgba(238, 165, 124, 0.15);
}
.container_events .note_orange::before {
  background: #EEA57C;
}
.container_events_footer {
  border-top: 2px solid #1A2D54;
  padding: 4%;
}
.container_events_footer_input_text {
  width: 60%;
  height: 60px;
  margin: 0 20%;
  display: block;
  border: 2px solid #1A2D54;
}
.container_events_footer_input_time {
  width: 20%;
  margin: 20px 20%;
  border: 2px solid #1A2D54;
}
.container_events_footer_btn {
  border-radius: 13px;
  border: none;
  background-color: #1A2D54;
  width: 20%;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: white;
}
.container_calendar {
  width: 30%;
  background: rgba(42, 46, 65, 0.7);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container_calendar_wrapper {
  width: 90%;
}
.container_calendar_month {
  width: 50%;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_calendar_month_btn {
  cursor: pointer;
  width: 10px;
  height: 20px;
  border: none;
  background: none;
}
.container_calendar_month_btn_svg {
  width: 10px;
  height: 20px;
  fill: none;
}
.container_calendar_month_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: white;
}
.container_calendar_hr {
  padding: 0;
  margin: 20px 0;
  width: 100%;
  height: 4px;
}
.container_calendar_data_row {
  margin: 10px 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_calendar_data_row_item {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_calendar_data_row_item p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: white;
  opacity: 0.8;
}
.container_calendar_data_row .data_active {
  background-color: #3D83F9;
}

/*# sourceMappingURL=main.css.map */
