$prime_color:#1A2D54;
$secondary_color:#1A2D54;
$grey_color: #758095;
@mixin flexElement($justify, $align){ 
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin text($fontSize, $color){
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: $fontSize;

    color: $color;
}
body{ 
    position: relative;
    width: 100%;
    height: 100vh;
    background:url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    @include flexElement(center, center);
    flex-wrap: wrap;
}

.version{
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    @include text(12px, black);
}
.container{ 
    display: flex;
    width:70%;
    height: 80vh;
    
    &_menu{ 
        width:20%;
        padding-left: 5%;
        position: relative;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(5px);
        &_title{ 
            margin-top: 30%;
            @include text(18px, $secondary_color);
            text-transform: uppercase;
        }
        &_list{ 
           
            margin-top: 50px;
            &_item{
                
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                &_icon{ 
                    width: 20px;
                    height: 20px;
                    fill: none;
                    margin-right: 20px;
                }
                &_link{ 
                   
                    text-decoration: none;
                    @include text(16px, $grey_color);
                }
                .link_active{
                    transition-duration: 0.8s;
                    color: $grey_color;
                    text-decoration:underline $grey_color;
                    &::before{
                        transition-duration: 0.8s;
                        content: '';
                        position: absolute;
                        left: 0%;
                        width: 5px;
                        height: 20px;
                        background-color: $prime_color;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                    &:hover{
                        color: $prime_color;
                        text-decoration:underline $prime_color;
                        &::before{
                            transition-duration: 0.8s;
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
    &_events{
        width: 50%;
        background-color: #FFF;
        &_upperBlock{
            margin-top: 20px;
            margin-bottom: 20px;
        
            width: 80%;
            margin-left: 10%;
            @include flexElement(space-between, center);
            &_title{ 
                @include text(18px, $prime_color);
            }
            &_btns{ 
                width: 15%;
                @include flexElement(space-between, center);
                &_btn{
                    cursor:pointer;
                    width:20px;
                    height: 20px;
                    border:none;
                    background: none;
                    &_icon{
                        width: 20px;
                        height: 20px;
                        fill: none;
                    }
                }
            }

        }
        &_notes{ 
            width: 100%;
            
            &_time{ 
                width: 100%;
                @include flexElement(space-around, center);
                &_text{
                    margin-left: 20px;
                    @include text(16px, $grey_color);
                }
                hr{ 
                    opacity: 0.7;
                    width: 90%;
                    height: 1px;
                    background-color: $grey_color;
                }
            }
        }
        &_note{ 
            position: relative;
            width: 80%;
            margin: 10px auto;
            padding: 4%;
            &_time{
                margin-bottom: 5px;
                @include text(12px, $grey_color);
            }
            &_text{ 
                @include text(16px, $prime_color) 
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 100%;
                background: #8576ED;
            }
        }
        &_main{
            height: 70%;
            
        }
        .note{
            &_purple{ 
                background: rgba(133, 118, 237, 0.15);
                &::before{
                    background: #8576ED;
                }
            }
            &_blue{
                background: rgba(61, 131, 249, 0.15);
                &::before{
                    background: #3D83F9;
                }
            }
            &_orange{
                background: rgba(238, 165, 124, 0.15);
                &::before{ 
                    background: #EEA57C;
                }
            }

        }
        &_footer{ 
            border-top: 2px solid $prime_color;
            padding: 4%;
            &_input{
                &_text{ 
                    width: 60%;
                    height: 60px;
                    margin: 0 20%;
                    display: block;
                    border:2px solid $prime_color;
                }
                &_time{ 
                    width: 20%;
                    margin: 20px 20%;
                    border:2px solid $prime_color;
                }
            }
            &_btn{
                border-radius: 13px;
                border:none;
                background-color: $prime_color;
                width: 20%;
                height: 30px;
                @include text(14px, white);
            }
        }
    }
    &_calendar{ 
        width: 30%;
        background: rgba(42, 46, 65, 0.7);
        backdrop-filter: blur(5px);
        @include flexElement(center, flex-start);
        &_wrapper{
            width: 90%;
           
        }
        &_month{
            width: 50%;
            margin: 5% auto;
            @include flexElement(space-between, center);
            &_btn{
                cursor: pointer;
                width:10px;
                height: 20px;
                border:none;
                background:none;
                &_svg{
                    width:10px;
                    height: 20px;
                    fill: none;
                }
            }
            &_text{ 
                @include text(18px, white);
            }
        }
        &_hr{
            padding: 0;
            margin: 20px 0;
            width: 100%;
            height: 4px;
        }
        &_data_row{ 
            margin: 10px 5%;
            width: 90%;
            @include flexElement(space-between, center);
            &_item{
                width: 30px;
                height: 30px;
                border-radius: 30px;
                @include flexElement(center,center);
                p{
                    @include text(14px, white);
                    opacity: 0.8;
                }
                
            }
            .data_active{
                background-color: #3D83F9;
            }
        }
    }
}